<!doctype html>
<html>

<head>
    <title>Marntl</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <script src="{{ url_for ('static', filename = 'script.js')}}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <div class="logo">Marntl</div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="hamburger" id="hamburger">
            &#9776;
        </div>
    </nav>
    <section>
        
             <!-- Define the slideshow container -->
    <div id="slideshow">
        <div class="slide-wrapper">

            <!-- Define each of the slides
         and write the content -->

         {% for slide in range(0,4)%}
         

            <div class="slide">
                <img src="{{ url_for('static', filename = 'im.jpg')}}">
            </div>
        {% endfor %}
        </div>
    </div>
       
        <div class="sect2">
            <p>  Our solution analyzes vast amounts of data to uncover patterns and
                anomalies, allowing security teams to focus on strategic tasks rather than routine monitoring. This not
                only streamlines operations but also strengthens overall security posture, ensuring that enterprises
                stay one step ahead of evolving cyber threats.
            </p>

            <button class="button-31" role="button">Sign Up Now</button>

        </div>

    </section>

</body>

</html>